.info-pet {
	display: block;
}
.info-pet span {
	vertical-align: middle;
	color: #626264;
}

.info-pet span.mdi-star {
	color: #facd5d;
}

.info-pet text {
	font-size: 13px;
	margin-right: 8px;
	vertical-align: middle;
	color: #626264;
}

.petshop-img {
	border-radius: 8px;
}

.badge-primary {
	font-weight: lighter;
}
