.petshop-list-container {
	position: absolute;
	height: 250px;
	top: 135px;
	z-index: 999;
	left: 0;
	right: 0;
	margin-bottom: 0;
	background: linear-gradient(
		180deg,
		#ffffff 50.47%,
		rgba(255, 255, 255, 0) 100%
	);
}

.petshop-list {
	padding: 15px;
	white-space: nowrap;
	overflow-x: auto;
	width: 100%;
	margin-top: 15px;
}
